body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
    background-color: #3498DB;
      
}
#colorButton {
    background-color: rgba(0, 0, 0, 0.87);
    color:white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 12.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#colorButton:hover{
    height: 2.2rem;
    width: 12.8rem;
    padding: 10px 20px;
    text-align: center;
}
.button-enlarged {
    transform: scale(1.2);
}

